@import "~bulma/sass/utilities/_all";

$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

$ah-blue: hsla(210, 51%, 18%, 1.00);
$ah-blue-invert: findColorInvert($ah-blue);
$ah-turquoise: #2fa292;
$ah-green: rgb(3, 168, 78);
$ah-green2: hsla(92, 41%, 52%, 1);
$ah-yellow: hsla(31, 81%, 70%, 1);
$ah-red: hsla(12, 79%, 57%, 1);
$ah-cyan: hsla(209, 100%, 61%, 1);
$ah-cyan-light: hsla(209, 100%, 80%, 1);
$ah-pink: hsla(356, 95%, 64%, 1);
$ah-black: hsla(116, 0%, 10%, 1);

$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 20%) !default;
$grey: hsl(0, 0%, 40%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$orange: hsl(14, 100%, 53%) !default;
$yellow: $ah-yellow;
$green: $ah-green;
$turquoise: $ah-turquoise;
$cyan: $ah-cyan;
$blue: $ah-blue;
$purple: hsl(271, 100%, 71%) !default;
$red: $ah-red;

$primary: $ah-blue;

$light: $white-ter !default;
$dark: $grey-darker !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "ah-black": (
    $ah-black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "green": (
    $ah-green,
    $dark-invert
  ),
  "green2": (
    $ah-green2,
    $dark-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  ),
  "primary-dark": (
    $ah-black,
    $white
  )
);
