@import "~bulma/sass/utilities/_all";

$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

$ah-blue: hsl(204, 45%, 17%);
$ah-blue-invert: findColorInvert($ah-blue);
$ah-turquoise: hsl(160, 35%, 38%);
$ah-green: rgb(3, 168, 78);
$ah-yellow: hsl(42, 90%, 68%);
$ah-red: hsl(7, 73%, 53%);
$ah-cyan: hsl(177, 85%, 40%);

$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 20%) !default;
$grey: hsl(0, 0%, 40%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$orange: hsl(14, 100%, 53%) !default;
$yellow: $ah-yellow;
$green: $ah-green;
$turquoise: $ah-turquoise;
$cyan: $ah-cyan;
$blue: $ah-blue;
$purple: hsl(271, 100%, 71%) !default;
$red: $ah-red;

$primary: $turquoise;

$light: $white-ter !default;
$dark: $grey-darker !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "green": (
    $ah-green,
    $dark-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  ),
  "primary-dark": (
    $ah-blue,
    $ah-blue-invert
  )
);
