// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: $cyan;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "./lux-custom/_variables.scss";
@import "./lux-custom/_overrides.scss";
@import "~buefy/src/scss/buefy";
@import "../../../node_modules/bulma-carousel/src/sass/index.sass";

h1.title,
.title.is-1,
.content h1 {
  font-family: $ah-title;
  font-weight: 400;
  font-style: normal;
}

.title,
.subtitle,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: $ah-header;
  font-weight: 300;
  font-style: oblique;
}
.content h2 {
  font-size: 1.25em;
}
